.App {
  text-align: center;
  
}
.map-conteiner{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: visible;
  top: 0;
}
.botonAñadir{
  position: relative;
  top: 51rem;
  right: -111rem;
  z-index: 10;
}

textarea{
  resize: none;
  height: 100px;
}

.toggleThemeButton {
  position: absolute;
  margin-left: 45%;
}

.toggleLanguageButton {
  position: absolute;
  margin-left: 55%;
}

#light button {
  background-color: #ebecf0;
  color: #3f3f3f;
}

#dark button  {
  background-color: #3f3f3f;
  color: #ebecf0;
}