.App {
  text-align: center;
  
}
.map-conteiner{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: visible;
  top: 0;
}
.botonAñadir{
  position: relative;
  top: 51rem;
  right: -111rem;
  z-index: 10;
}
