/* General sidebar styles */
#light .drawer {
  background: #ebecf0;
}
#dark .drawer {
  background: #3f3f3f;
}

/* Wrapper for item list */
#light .bm-item-list {
  color: #3f3f3f;
  padding: 0.8em;
}
#dark .bm-item-list {
  color: #ebecf0;
  padding: 0.8em;
}

#centered {
  text-align: center;
}

/* Elementos tipo tarjeta */
.card--line1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tablinks {
  display: flex;
  padding: 0;
}

.tablink {
  flex: 1;
  outline: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
